<ion-view view-title="Exercicios">
  <ion-content>
    <ion-list>
        <a class="item item-avatar" href="#/app/palestrante1">
            <img src="http://ionicframework.com/img/docs/venkman.jpg">
            <h2>Palestrante1</h2>
            <p>Resumo do palestrante.</p>
        </a>
        <a class="item item-avatar" href="#/app/palestrante2">
            <img src="http://ionicframework.com/img/docs/stantz.jpg">
            <h2>Palestrante2</h2>
            <p>Resumo do palestrante2.</p>
        </a>
        <a class="item item-avatar" href="#/app/palestrante3">
            <img src="http://ionicframework.com/img/docs/winston.jpg">
            <h2>Palestrante3</h2>
            <p>Resumo do palestrante3.</p>
        </a>
    </ion-list>
  </ion-content>
</ion-view>
